body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background:url('assets/images/bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  
}
body::before{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.911);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.snow-wrap{

}
.snow, .snow::after, .snow::before{
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: radial-gradient(3px 3px at 100px 50px, #fff, transparent 50%),
                    radial-gradient(6px 6px at 200px 150px, #fff, transparent 50%),
                    radial-gradient(9px 9px at 300px 200px, #fff, transparent 50%),
                     radial-gradient(3px 3px at 400px 300px, #fff, transparent 50%),
                    radial-gradient(6px 6px at 530px 400px, #fff, transparent 50%),
                    radial-gradient(9px 9px at 670px 500px, #fff, transparent 50%),
                   radial-gradient(3px 3px at 740px 60px, #fff, transparent 50%),
                    radial-gradient(6px 6px at 800px 120px, #fff, transparent 50%),
                    radial-gradient(9px 9px at 900px 220px, #fff, transparent 50%);
  background-size: 600px 200px;
  animation: animate 10s linear infinite;
  z-index: 120;
}
.snow::after{
  margin-left: -250px;
  opacity: .5;
  filter: blur(2px);

}
.snow::before{
  margin-left: -350px;
  opacity: .7;
  filter: blur(1px);

}
.key-container{
  height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.key-pad{
  border: 2px solid rgb(255, 116, 116);
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  width: 70px;
  z-index: 99;
}
.key-pad>span{
  color: #dbc608;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.4px;
}

.key-pad-effect{
  animation: scaleAnimation 1s ease-in;
  box-shadow: 2px 2px 20px 5px #ffe20863;

}
@keyframes scaleAnimation{
  0%{
    width: fit-content;
  }
  100%{
    transform: scale(12);
    
  }
}
@keyframes animate{
  0%{
    background-position: -700px 0;
  }
  100%{
    background-position: 0px 700px;
  }
}

/* resposive for mobile devices */
@media only screen and (max-width: 600px) {
  .key-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;

  }
}
/* change the cursor pointer on screen hover*/
body:hover{
  cursor: url('assets/images/cursor.png'), pointer;
}