body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(20, 5, 14, 0.8)), url("assets/images/bg.webp");
  background-size:cover;
  height: 150vh;
}

.key-container{
  height: 300px;
  padding:30px;
}
.key-pad{
  border: 2px solid rgb(255, 116, 116);
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 600;
  width: 80px;
}
.key-pad>span{
  color: #dbc608;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.4px;
}
.key-pad-effect{
  animation: scaleAnimation .3s ease-in-out;
  box-shadow: 2px 2px 20px 5px #ffe20863;
}

.loading {
  display: inline-flex;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  z-index: 2000;
}
.loading:before,
.loading:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
    #fff;
  transform: scaleX(var(--s,1)) rotate(0deg);
  animation: l6 1s infinite linear;
}
.loading:after {
  --s: -1;
  animation-delay:-0.1s;
}
.text{
  width: 80%;
  color: white;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  letter-spacing: 1.3px;
  line-height: 40px;
  margin:0 auto;
}

.typing-box{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  flex-direction: column;
  gap: 30px;
}

.typing-box input {
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff1f;
  color: white;
  border: 2px solid #ffffff;
  line-height: 30px;
}
.typing-box button{
  width: 10%;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #070505b0;
  color: white;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.incorrect{
  color: red;
}



/* animations */
/* key-pad scale animation */
@keyframes scaleAnimation{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2); 
  }
  100%{
    transform: scale(1); 
  }
}

/* spinning loader */
@keyframes l6 {
  100% {transform:scaleX(var(--s,1)) rotate(360deg);}
}

/* resposive for mobile devices */
@media only screen and (max-width: 600px) {
  .key-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
    height: 800px;
  }
  .text{
    font-size: 16px;
    line-height: 30px;
  }
  .typing-box{
    width: 100%;
    padding-bottom: 10px;
  }
  .typing-box button{
    width: 24%;
  }
}

/* media query for screen size 600px and above */
@media screen and (min-width: 600px) {
  .key-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    gap: 10px;
    height: 900px;
  }

.text{
  font-size: 16px;
  line-height: 30px;
}
.typing-box{
  width: 100%;
  padding-bottom: 10px;
}
.typing-box button{
  width: 26%;
}
  
}

/* media query for screen size 857 and above */
@media screen and (min-width: 857px) {
  .key-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 10px;
    height: 400px;
    }
    .text{
      font-size: 26px;
      line-height: 35px;
    }
  
}